.btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0%;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 30px;
  }
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
.header {
  border-bottom: 1px solid #ccc;
  padding: 0.1rem 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}
.handle-input {
  display: block;
  padding: 0.6rem 0.5rem;
  font-size: 1.1rem;
  /* background: #ddd; */
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: none;
  width: 95%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
label {
  font-size: 1.2em;
  color: rgb(42, 42, 42);
}
.form-center > div > form * {
  margin: 1rem 0;
}
.form-center .btn {
  width: 100%;
}
.form-div {
  width: 360px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.form-div form {
  background: rgba(235, 235, 235, 0.521);
  padding: 1rem;
  border-radius: 0.3rem;
}
.main-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}
.main-card {
  width: 360px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.main-card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 0.5rem 1rem;
}
